.env
*.sqlite3
__pycache__/
env/
staticfiles/
media/
Superuser username: tradingmaster2025
Super Email: dillon@supergainz.pro
Superuser password: wolfofwallstreet2013


pk_live_51HZ8dDJj9uiNoZRh0YjTcLw72FuQZ3yyQtqsROOKktHgymxejKbx36TNEUxTTJYiga034xvaqV9yZNCW8kZnWY4C00i5PpSSLD
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